.idea/
venv_new/
local_settings.py
note.txt
data_export/
generated-files/
docs/**/*.html
docs/**/*.js

__pycache__/

build/
dist/

pyvenv.cfg
share/

.pdm-python
.mypy_cache
.dmypy.json
public
.pdm-build
affinite_ezspr.uf2
